Name : <%=data['ename']%><br>
Message : <%=data['emessage']%><br>
Email : <%=data['email']%>
<td><a href="/delete/<%=data['ename']%>">Delete</a></td>
<td><a href="/edit/<%=data['ename'] %>">Edit</a></td>